In [10]:
import pandas as pd
import numpy as np
import bs4
import requests
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [11]:
from bs4 import BeautifulSoup

Selenium

In [41]:
options = webdriver.ChromeOptions()
url = "https://all.accor.com/ssr/app/ibis/hotels/madrid-spain/open/index.en.shtml?compositions=1&stayplus=false&snu=false&hideWDR=false&accessibleRooms=false&hideHotelDetails=false&dateIn=2025-03-01&nights=1&destination=madrid-spain"
options.add_argument("--headless")

In [58]:
precio_noche = []
nombre_hotel = []
estrellas = []

In [64]:
driver = webdriver.Chrome(options=options)
driver.get(url)
time.sleep(5)
hoteles = driver.find_elements(By.CLASS_NAME, "hotelblock__content")

for hotel in hoteles:
    nombre, stars = hotel.find_element(By.CLASS_NAME, "title").text.split("\n")
    print(nombre)
    nombre_hotel.append(nombre)
    rating, sobre_5 = hotel.find_element(By.CLASS_NAME, "ratings__score").text.split("/")
    print(rating)
    estrellas.append(rating)
    precio = hotel.find_element(By.CLASS_NAME, "booking-price__number").text
    print(precio)
    precio_noche.append(precio)
    print("----")

driver.close()
driver.quit()

ibis Styles Madrid Prado
4.7
170
----
Novotel Madrid Center
4.6
255
----
ibis budget Madrid Calle 30
4.4
106
----
ibis Madrid Centro las Ventas
4.5
172
----
Novotel Madrid City Las Ventas
4.6
173
----
ibis budget Madrid Vallecas
4.3
95
----
Pullman Madrid Airport & Feria
4.2
127
----
Novotel Madrid Campo de las Naciones
4.5
154
----
ibis Madrid Aeropuerto Barajas
4.4
116
----
ibis Madrid Alcorcon Tresaguas
4.4
90
----

In [65]:
precio_noche

['170', '255', '106', '172', '173', '95', '127', '154', '116', '90']

In [66]:
nombre_hotel

['ibis Styles Madrid Prado',
 'Novotel Madrid Center',
 'ibis budget Madrid Calle 30',
 'ibis Madrid Centro las Ventas',
 'Novotel Madrid City Las Ventas',
 'ibis budget Madrid Vallecas',
 'Pullman Madrid Airport & Feria',
 'Novotel Madrid Campo de las Naciones',
 'ibis Madrid Aeropuerto Barajas',
 'ibis Madrid Alcorcon Tresaguas']

In [67]:
estrellas

['4.7', '4.6', '4.4', '4.5', '4.6', '4.3', '4.2', '4.5', '4.4', '4.4']

In [69]:
data = {'nombre_hotel': nombre_hotel,
        'estrellas':estrellas,
        'precio_noche': precio_noche}
df_scrap = pd.DataFrame(data)

In [70]:
df_scrap

                           nombre_hotel estrellas precio_noche
0              ibis Styles Madrid Prado       4.7          170
1                 Novotel Madrid Center       4.6          255
2           ibis budget Madrid Calle 30       4.4          106
3         ibis Madrid Centro las Ventas       4.5          172
4        Novotel Madrid City Las Ventas       4.6          173
5           ibis budget Madrid Vallecas       4.3           95
6        Pullman Madrid Airport & Feria       4.2          127
7  Novotel Madrid Campo de las Naciones       4.5          154
8        ibis Madrid Aeropuerto Barajas       4.4          116
9        ibis Madrid Alcorcon Tresaguas       4.4           90

In [71]:
df_scrap.to_csv('../data/scrap_competencia.csv', index=False)